@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900);

img {
  max-width: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.remark-slide-content {
  background-color: #F5F4F1;
}

h1, h2 {
  padding: 10px 20px;
}

pre, code {
  background-color: #4e4e4e;
  color: #e6e6e6;
  padding: 15px;
}

a:visited, a:active, a {
  color: white;
}

.real-big {
  font-size: 2em;
}

.citation {
  font-size: 0.7em;
  padding: 5px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: rgba(203, 56, 55, 1);
}
